#set ($film = $context.getAttribute("film"))
#set ($evals = $context.getAttribute("evals"))

<div id="errorMessage">

</div>

<div id="Content">   
	<h1> Profil / derniers commentaires</h1>
</div>



		#if($evals.size() > 0)
		#foreach($eval in $evals)
        <section class="bloc" style="position: relative; top: 30px; display: inline-bloc; margin-bottom: 20px;">

	            <table class="TableFilm" style="width:100%;">
	            	<tr>
	                  <td rowspan="5" class="TableFilm-Descr-Img" style="background:url(/esgiRouter/res/style/img/Films/affiche_#evaluate($eval.getFilm().getId()).jpg); background-size: 150px; background-position:center; background-repeat:no-repeat;"></td>
					  <td><h1 style="font-size: 2em; padding-bottom = 0;margin-top: 10px; width: 100%;">$eval.getFilm().getTitre()</h1></td>  
	                  <td style="text-align: right;padding-right: 15px;"><a href="/esgiRouter/Comment/$eval.getFilm().getId()/$eval.getId()" style="background-color: #FF9500;padding: 9px; color: white; text-decoration: none; margin-right: 50px;">Voir les commentaires<a></td>
	                </tr>	                   
	                <tr>
	                	<td rowspan="4" colspan="2"class="TableFilm-Descr-value"><i>"$eval.getCommentaire()"</i></td>
	                </tr>
	            </table>
	            
         </section>
         
         
    #end
    #else
     <section class="bloc" style="position: relative; top: 30px; display: inline-bloc;">
			<center><h2> Aucun commentaire n'a été ajouté </h2></center>
			</section>
   #end
