#set ($nom = $context.getAttribute("nom"))
#set ($prenom = $context.getAttribute("prenom"))
#set ($login = $context.getAttribute("login"))

<div id="errorMessage">

</div>

<div id="Content">   
	<h1> Profil / Mes informations </h1>
</div>



<div class="bloc">


<h1> Mes informations </h1>
<div id="changePassword" style=" position: absolute; top: 20px; right: 15px;;background-color: #FF9500;cursor:pointer;padding: 9px; color: white; text-decoration: none; width: 200px; text-align:center; ">Changer le mot de passe</div>

				<center><i><p><b>Nom </b>: $nom</p></i>

				<i><p><b>Prénom</b> : $prenom</p></i>

				<i><p><b>Login</b> : $login</p></i></center>

</div>

<div id="container" style="top: 65% !important;display:none;">

</div>


#set ($js = $context.getProperties().get("context")+"/res/js/Module/Information.js")
$context.addJSDependancy($js)
$context.addOnJsReady("new Esgi.module.Information.Form({ id : '#container'})")