#set($login=$context.getRequest().getSession().getAttribute("login"))
<div id="errorMessage">

</div>

<div id="Content">   
	<h1> Profil </h1>
</div>

<div class="bloc">


<h1> $login </h1>

	<center>
		<div id="info" class="buttonGreen" style="cursor:pointer;  width: 250px;">
			<p> Mes informations </p>
		</div>
		<div id="lastComm"  class="buttonGreen" style="cursor:pointer; width: 250px;">
			<p> Mes derniers commentaires </p>
		</div>
	</center>


</div>


#set ($js = $context.getProperties().get("context")+"/res/js/Module/Profil.js")
$context.addJSDependancy($js) 