#set ($login = $context.getRequest().getSession(true).getAttribute("login"))
#set ($isAdmin = $context.getRequest().getSession(true).getAttribute("isAdmin"))
<header></header>
        
        <nav>

            <table id="TabMenu">
                <tr>
                     
                    <td style="padding-right: 2px;"><a href="/esgiRouter/">Accueil</a></td>        
                    <td style="background:url(/esgiRouter/res/style/icn/mail@2x.png);
                                background-repeat: no-repeat;
                                background-size: 30px;
                                background-position: 6px 9px;
                                padding-right: 0px;"><a href="/esgiRouter/Contact">Contact</a></td>
                      #if(!$login)
                     <td style="background:url(/esgiRouter/res/style/icn/no-entry@2x.png);
                                background-repeat: no-repeat;
                                background-size: 25px;
                                background-position: 6px 11px;"><a href="/esgiRouter/Connect">Log in</a></td>
                      #end         
                      #if ($login)
                                
                    <td style="background:url(/esgiRouter/res/style/icn/tshirt@2x.png);
                                background-repeat: no-repeat;
                                background-size: 30px;
                                background-position: 6px 9px; "><a href="/esgiRouter/Profil">Profil</a></td>
                       #if($isAdmin)       
                    <td style="background:url(/esgiRouter/res/style/icn/setting@2x.png);
                                background-repeat: no-repeat;
                                background-size: 30px;
                                background-position: 6px 9px;
                                padding-right: 2px;">Admin</td>
                       #end
                          
                    <td style="background:url(/esgiRouter/res/style/icn/no-entry@2x.png);
                                background-repeat: no-repeat;
                                background-size: 25px;
                                background-position: 6px 11px;"><a href="/esgiRouter/Logout">Log out</a> ($login)</td>
                             #end
                </tr>
            </table>

        </nav>   