$context.setTitle("Contact")

$context.addOnJsReady("new Esgi.module.Contact.Form({ id : '#container'})")

<div id="container">
</div>

<div style="margin-top:30px" id="errorMessage">
</div>

#set ($js = $context.getProperties().get("context")+"/res/js/Module/Contact.js")
$context.addJSDependancy($js)