<div id="Content">   

        <h1> Contact </h1>

</div>
<div id="container">
</div>

<div id="errorMessage">
</div>

#set ($js = $context.getProperties().get("context")+"/res/js/Module/Contact.js")
$context.addJSDependancy($js)
$context.addOnJsReady("new Esgi.module.Contact.Form({ id : '#container'})")