<div id="errorMessage">

</div>
<div id="Content">   
<h1> Contact </h1>
</div>
<div id="container">

</div>



#set ($js = $context.getProperties().get("context")+"/res/js/Module/contact.js")
$context.addJSDependancy($js)
$context.addOnJsReady("new Esgi.module.Contact.Form({ id : '#container'})")