<!DOCTYPE HTML>
<html>

<head>
        <title>Liste des Films</title>
        <meta charset="utf-8">
        <meta name="description" content="165c. uniques">
        <LINK rel="stylesheet" type="text/css" href="layout1.css">
        
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="page">
    <!-- DIV : Aucun sens sémantique - zone géographique -->
    
        <header><!-- Entête de la zone considérée --></header>
        
        <nav><!-- Nav. principale de la page -> site -->

            <table id="TabMenu">
                <tr>
                    <td style="background:url(icn/arrow-left@2x.png);
                                background-repeat: no-repeat;
                                background-size: 27px;
                                background-position: 15px 11px;">Home</td>
                    <td>Films</td>        
                    <td style="background:url(icn/mail@2x.png);
                                background-repeat: no-repeat;
                                background-size: 30px;
                                background-position: 6px 9px;
                                padding-right: 0px;">Contact</td>
                    <td style="background:url(icn/tshirt@2x.png);
                                background-repeat: no-repeat;
                                background-size: 30px;
                                background-position: 6px 9px; ">Profil</td>
                    <td style="background:url(icn/setting@2x.png);
                                background-repeat: no-repeat;
                                background-size: 30px;
                                background-position: 6px 9px;
                                padding-right: 2px;">Admin</td>
                    <td style="background:url(icn/no-entry@2x.png);
                                background-repeat: no-repeat;
                                background-size: 25px;
                                background-position: 6px 11px;">Log out</td>
                </tr>
            </table>

        </nav>   

        <div id="Content">   

        <h1>Laisse nous un message !!</h1>



        <article class="ContactForm">
            
        </article>

        
     </div>
        
    </div>
</body>
</html>

