<!DOCTYPE HTML>
<html>

<head>
        <title>Liste des Films</title>
        <meta charset="utf-8">
        <meta name="description" content="165c. uniques">
        <LINK rel="stylesheet" type="text/css" href="css.css">
        
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="page">
    <!-- DIV : Aucun sens sémantique - zone géographique -->
    
        <header><!-- Entête de la zone considérée --></header>
        
        <nav><!-- Nav. principale de la page -> site -->

            <table id="TabMenu">
                <tr>
                    <td style="background:url(icn/arrow-left@2x.png);
                                background-repeat: no-repeat;
                                background-size: 27px;
                                background-position: 15px 11px;">Home</td>
                    <td>Films</td>        
                    <td style="background:url(icn/mail@2x.png);
                                background-repeat: no-repeat;
                                background-size: 30px;
                                background-position: 6px 9px;
                                padding-right: 0px;">Contact</td>
                    <td style="background:url(icn/tshirt@2x.png);
                                background-repeat: no-repeat;
                                background-size: 30px;
                                background-position: 6px 9px; ">Profil</td>
                    <td style="background:url(icn/setting@2x.png);
                                background-repeat: no-repeat;
                                background-size: 30px;
                                background-position: 6px 9px;
                                padding-right: 2px;">Admin</td>
                    <td style="background:url(icn/no-entry@2x.png);
                                background-repeat: no-repeat;
                                background-size: 25px;
                                background-position: 6px 11px;">Log out</td>
                </tr>
            </table>

        </nav>   

        <div id="Content">   

        <h1>Iron-Man</h1>



        <article>
            
                
                <div class="Film2">

                <section class="Film-Pic" style="background:url(fond3.jpg);">

                </section>
                <section class="Box-Doc-Descr"> 
                    
               
                <section class="Film-Doc">
            
                </section>

                <section class="Film-Descr">

                <table class="TableFilm">
                    <tr>
                      <td rowspan="5" class="TableFilm-Descr-Img" style="background:url(affich.jpg); background-size: 200px;"><img src="affiche3.jpg" height="262" width="200"></td>
                      <td class="TableFilm-Descr-Label">Réalisateur</td> 
                      <td class="TableFilm-Descr-Label2">:</td>      
                      <td class="TableFilm-Descr-value">Jon Favreau</td>
                      </tr>
                    <tr>
                      
                      <td class="TableFilm-Descr-Label">Participants </td>       
                      <td class="TableFilm-Descr-Label2">:</td>       
                      <td class="TableFilm-Descr-value">Robert Downey Jr., Terrence Howard, Gwyneth Paltrow</td>
                    </tr>
                    <tr>
                      <td class="TableFilm-Descr-Label">Description</td>
                      <td class="TableFilm-Descr-Label2">:</td>             
                      <td class="TableFilm-Descr-value">Tony Stark, inventeur de génie, vendeur d'armes et playboy milliardaire, est kidnappé en Aghanistan. Forcé par ses ravisseurs de fabriquer une arme redoutable, il construit en secret une armure high-tech révolutionnaire qu'il utilise pour s'échapper. Comprenant la puissance de cette armure, il décide de l'améliorer et de l'utiliser pour faire régner la justice et protéger les innocents.</td>
                    </tr>
                    </table>
                    
                </section>

                </section>
            </div>

          

        </article>

        <article id="box-Commentaire">

            <div class="Com">

                    <table class="TableCom">
                        
                        <tr class="TableCom-Header">
                          <td>Webbdoger</td> 
                          <td style="color: grey; text-align: right;">Lundi 2 Avril</td>      
                        </tr>

                        <tr>
                    
                          <td  COLSPAN=2 class="TableCom-Value">Tony Stark, inventeur de génie, vendeur d'armes et playboy milliardaire, est kidnappé en Aghanistan. Forcé par ses ravisseurs de fabriquer une arme redoutable, il construit en secret une armure high-tech révolutionnaire qu'il utilise pour s'échapper. Comprenant la puissance de cette armure, il décide de l'améliorer et de l'utiliser pour faire régner la justice et protéger les innocents.</td>
                        </tr>

                     </table>
                
            </div>

                        <div class="Com">

                    <table class="TableCom">
                        
                        <tr class="TableCom-Header">
                          <td>Webbdoger</td> 
                          <td style="color: grey; text-align: right;">Lundi 2 Avril</td>      
                        </tr>

                        <tr>
                    
                          <td  COLSPAN=2 class="TableCom-Value">Tony Stark, inventeur de génie, vendeur d'armes et playboy milliardaire, est kidnappé en Aghanistan. Forcé par ses ravisseurs de fabriquer une arme redoutable, il construit en secret une armure high-tech révolutionnaire qu'il utilise pour s'échapper. Comprenant la puissance de cette armure, il décide de l'améliorer et de l'utiliser pour faire régner la justice et protéger les innocents.</td>
                        </tr>

                     </table>
                
            </div>

                        <div class="Com">

                    <table class="TableCom">
                        
                        <tr class="TableCom-Header">
                          <td>Webbdoger</td> 
                          <td style="color: grey; text-align: right;">Lundi 2 Avril</td>      
                        </tr>

                        <tr>
                    
                          <td  COLSPAN=2 class="TableCom-Value">Tony Stark, inventeur de génie, vendeur d'armes et playboy milliardaire, est kidnappé en Aghanistan. Forcé par ses ravisseurs de fabriquer une arme redoutable, il construit en secret une armure high-tech révolutionnaire qu'il utilise pour s'échapper. Comprenant la puissance de cette armure, il décide de l'améliorer et de l'utiliser pour faire régner la justice et protéger les innocents.</td>
                        </tr>

                     </table>
                
            </div>

                        <div class="Com">

                    <table class="TableCom">
                        
                        <tr class="TableCom-Header">
                          <td>Webbdoger</td> 
                          <td style="color: grey; text-align: right;">Lundi 2 Avril</td>      
                        </tr>

                        <tr>
                    
                          <td  COLSPAN=2 class="TableCom-Value">Tony Stark, inventeur de génie, vendeur d'armes et playboy milliardaire, est kidnappé en Aghanistan. Forcé par ses ravisseurs de fabriquer une arme redoutable, il construit en secret une armure high-tech révolutionnaire qu'il utilise pour s'échapper. Comprenant la puissance de cette armure, il décide de l'améliorer et de l'utiliser pour faire régner la justice et protéger les innocents.</td>
                        </tr>

                     </table>
                
            </div>

                        <div class="Com">

                    <table class="TableCom">
                        
                        <tr class="TableCom-Header">
                          <td>Webbdoger</td> 
                          <td style="color: grey; text-align: right;">Lundi 2 Avril</td>      
                        </tr>

                        <tr>
                    
                          <td  COLSPAN=2 class="TableCom-Value">Tony Stark, inventeur de génie, vendeur d'armes et playboy milliardaire, est kidnappé en Aghanistan. Forcé par ses ravisseurs de fabriquer une arme redoutable, il construit en secret une armure high-tech révolutionnaire qu'il utilise pour s'échapper. Comprenant la puissance de cette armure, il décide de l'améliorer et de l'utiliser pour faire régner la justice et protéger les innocents.</td>
                        </tr>

                     </table>
                
            </div>
            

        </article>

        
     </div>
        
    </div>
</body>
</html>