<!DOCTYPE HTML>
<html>

<head>
        <title>Titre principal de la page</title>
        <meta charset="utf-8">
        <meta name="description" content="165c. uniques">
        <LINK rel="stylesheet" type="text/css" href="layout1.css">
</head>

<body>
    <div id="page">
    <!-- DIV : Aucun sens sémantique - zone géographique -->
    
        <header><!-- Entête de la zone considérée --></header>
        
        <nav><!-- Nav. principale de la page -> site -->

            <table id="TabMenu">
                <tr>
                    <td>Acceuil</td>
                    <td>Les films</td>        
                    <td>Contact</td>
                </tr>
            </table>

        </nav>   
        <!-- <nav>

            <table id="TabMenu" style="width:400px; ">
                <tr>
                    <td>Acceuil</td>
                    <td>Les films</td>        
                    <td>Contact</td>
                    <td>Administration</td>
                </tr>
            </table>

        </nav>    
        <nav>

            <table id="TabMenu" style="width:400px; ">
                <tr>
                    <td>Acceuil</td>
                    <td>Les films</td>        
                    <td>Contact</td>
                    <td>Profil</td>
                </tr>
            </table>

        </nav>       -->

        <div id="Content">
            
   

        <article>
            
            <div class="Film">

                <section class="Film-Pic" style="background:url(fond.jpg);">

                </section>

                <section class="Film-Doc">
                    <table id="TabFilm-Doc">
                        <tr>
                            <td style="padding-left: 20px; font-size: 1.5em;">Gladiator</td>
                                
                            <td style="text-align: right; padding-right: 20px;">5 Commentaires</td>
                        </tr>
                    </table>
                </section>

                <section class="Film-Descr">
                    
                </section>
            </div>

        </article>
        <article>
            
            <div class="Film">

                <section class="Film-Pic" style="background:url(fond3.jpg);">

                </section>

                <section class="Film-Doc">
                    <table id="TabFilm-Doc">
                        <tr>
                            <td style="padding-left: 20px; font-size: 1.5em;">Iron Man</td>
                                
                            <td style="text-align: right; padding-right: 20px;">2 Commentaires</td>
                        </tr>
                    </table>
                </section>

                <section class="Film-Descr">
                    
                </section>
            </div>

        </article>

        <article>
            
            <div class="Film">

                <section class="Film-Pic" style="background:url(fond2.jpg);">

                </section>

                <section class="Film-Doc">
                    <table id="TabFilm-Doc">
                        <tr>
                            <td style="padding-left: 20px; font-size: 1.5em;">Batman the dark knight</td>
                                
                            <td style="text-align: right; padding-right: 20px;">5 Commentaires</td>
                        </tr>
                    </table>
                </section>

                <section class="Film-Descr">
                    
                </section>
            </div>

        </article>
        
     </div>
        
    </div>
</body>
</html>