html{

	margin: 0;
	padding: 0;

}

body{

	margin: 0;
	padding: 0;
	background-color: #DCDCDC;

}

header{

	width: 100%;
	height: 6px; 
	background-color: #FF9500;


}

nav{

	width: 100%;
	height: 55px; 
	background-color: #343443;

}

footer{


}

#TabMenu{

	padding: 0;
	width:300px; 
	color: white;
	margin: auto;
	height: 55px;

}

#TabMenu  td{

	padding: 0;
	text-align: center;
	height: 50px;

}

#TabMenu td:hover{

	background-color: #FF9500;

}


#Content{

	
	padding-top: 50px;

}

.Film{
	
	display: block;
	margin: auto;
	margin-top: 0px;
	width: 80%;
	height: 406px;
	margin-bottom: 20px;
	overflow: hidden;
	
}

.Film-Pic{
	
	display: block;
	width: 100%;
	height: 400px;
	

}
.Box-Doc-Descr{
	margin-top: -50px;
	background-color:  rgba(52, 52, 67, 1);

	-webkit-transition-property: margin-top, background-color;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-property: margin-top, background-color;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-out;
	transition-property: margin-top , background-color;
	transition-duration: .5s;
	transition-timing-function: ease-out;

}

.Box-Doc-Descr:hover{
	margin-top: -400px;
	background-color:  rgba(52, 52, 67, 0.8);
	
}
.Film-Doc{

	display: block;
	width: 100%;
	height: 54px;
	//background-color:  rgba(52, 52, 67, 0.7);
	border-top: 6px solid #FF9500;
	
}


#TabFilm-Doc {

	padding: 0;
	width: 100%;
	color: white;

}

#TabFilm-Doc td{
	height: 50px;
	font-size: 1.3em;
}

.Film-Descr{
	
	height: 350px;

}
.TableFilm{
	margin-left: 25px;
	padding-top: 20px;
	text-align: ;
	color: white;
}

.TableFilm-Descr-Img{
	width: 200px;
	height: 262px;

}

.TableFilm-Descr-Label{

	width: 100px;
 	padding-left: 20px;
 	/*border: 1px solid red;*/
 	vertical-align: top;
 	color: #FF9500;

}
.TableFilm-Descr-Label2{
 	/*border: 1px solid red;*/
 	vertical-align: top;
 	padding-right: 15px;
}
.TableFilm-Descr-value{
 	/*border: 1px solid red;*/
 	vertical-align: top;
 	text-align: justify;
 	padding-right: 30px;

}