<div id="Content">   

        <h1>Iron-Man</h1>



        <article>
            
                <div class="Film2">

                <section class="Film-Pic" style="background:url(fond3.jpg); width: 10%;">

                </section>
                <section class="Box-Doc-Descr"> 
                    
               
                <section class="Film-Doc">
            
                </section>

                <section class="Film-Descr">

                <table class="TableFilm">
                    <tr>
                      <td rowspan="5" class="TableFilm-Descr-Img" style="background:url(affich.jpg); background-size: 200px;"><img src="affiche3.jpg" height="262" width="200"></td>
                      <td class="TableFilm-Descr-Label">Réalisateur</td> 
                      <td class="TableFilm-Descr-Label2">:</td>      
                      <td class="TableFilm-Descr-value">Jon Favreau</td>
                      </tr>
                    <tr>
                      
                      <td class="TableFilm-Descr-Label">Participants </td>       
                      <td class="TableFilm-Descr-Label2">:</td>       
                      <td class="TableFilm-Descr-value">Robert Downey Jr., Terrence Howard, Gwyneth Paltrow</td>
                    </tr>
                    <tr>
                      <td class="TableFilm-Descr-Label">Description</td>
                      <td class="TableFilm-Descr-Label2">:</td>             
                      <td class="TableFilm-Descr-value">dadazdaaz</td>
                    </tr>
                    </table>
                    
                </section>

                </section>
            </div>

          

        </article>

        <article id="box-Commentaire">

            <div class="Com">

                    <table class="TableCom">
                        
                        <tr class="TableCom-Header">
                          <td>Webbdoger</td> 
                          <td style="color: grey; text-align: right;">Lundi 2 Avril</td>      
                        </tr>

                        <tr>
                    
                          <td  COLSPAN=2 class="TableCom-Value">aeazefzaef</td>
                        </tr>

                     </table>
                
            </div>

                        <div class="Com">

                    <table class="TableCom">
                        
                        <tr class="TableCom-Header">
                          <td>Webbdoger</td> 
                          <td style="color: grey; text-align: right;">Lundi 2 Avril</td>      
                        </tr>

                        <tr>
                    
                          <td  COLSPAN=2 class="TableCom-Value">eeeeee</td>
                        </tr>

                     </table>
                
            </div>

                        <div class="Com">

                    <table class="TableCom">
                        
                        <tr class="TableCom-Header">
                          <td>Webbdoger</td> 
                          <td style="color: grey; text-align: right;">Lundi 2 Avril</td>      
                        </tr>

                        <tr>
                    
                          <td  COLSPAN=2 class="TableCom-Value">zezfecefarfaf</td>
                        </tr>

                     </table>
                
            </div>

                        <div class="Com">

                    <table class="TableCom">
                        
                        <tr class="TableCom-Header">
                          <td>Webbdoger</td> 
                          <td style="color: grey; text-align: right;">Lundi 2 Avril</td>      
                        </tr>

                        <tr>
                    
                          <td  COLSPAN=2 class="TableCom-Value">azeaaaaaaaaaaa</td>
                        </tr>

                     </table>
                
            </div>

                        <div class="Com">

                    <table class="TableCom">
                        
                        <tr class="TableCom-Header">
                          <td>Webbdoger</td> 
                          <td style="color: grey; text-align: right;">Lundi 2 Avril</td>      
                        </tr>

                        <tr>
                    
                          <td  COLSPAN=2 class="TableCom-Value">azeaeaeaeae</td>
                        </tr>

                     </table>
                
            </div>
            

        </article>

        
     </div>