#set ($evaluations = $context.getAttribute("evaluations"))
#set ($film = $context.getAttribute("film"))
#set ($avg = $context.getAttribute("average"))


	<div id="Content">   

		#if($avg)
			<h1>Commentaires et notes : $film.getTitre() <b style="color: #FF9500">($avg)</b></h1>
		#else
        	<h1>Commentaires et notes : $film.getTitre()</h1>
        #end
		
		<article>
            

                <section class="Film-Pic" style="background:url(/esgiRouter/res/style/img/Films/fond_#evaluate($film.getId()).jpg); width: 70%; margin-left:15%; background-position: center 25%; background-repeat:no-repeat; ">

                </section>
					
					<div id="comments">
	                    #foreach($evaluation in $evaluations)
		                    <div class="comment">
			                     <table style="">
				                    <tr class="ligne1">
				                    	<td class="login"><b> $evaluation.getUser().getLogin()</b></td>
				                    	<td colspan="7" style="text-align:right;color: #FF9500"> $evaluation.getNote()/20 </td>
				                    </tr>
				                    <tr>
				                        <td  colspan="7" rowspan="4" style="padding-left:10px; padding: 20px; border-top: 2px solid #61D7A4">$evaluation.getCommentaire()</td>
				                     </tr>
				                  </table>
			                 </div>
	                     #end
	                     
                     </div>
                     
                     <input type="hidden" name="login" id="login" value="$context."/>
                     
                    <table class="formCom" >
	                    <tr>
	                    	<td colspan="2" style="text-align:center;font-family: 'Dancing Script', 'cursive'; color:#FF9500">
	               				<h1>Donnez votre avis ! </h1>
	               			</td>
	               		</tr>
	                    <tr>
	                    	<td colspan="2" style="margin: auto;">
	               				<textarea style="padding : 10px;" rows="6" cols="100" name="commentPlace" id="commentPlace" placeholder="Ajouter un commentaire"></textarea>
	               			</td>
	               		</tr>
	               		<tr>
	               			<td>
	               			Quelle note attribuez vous à ce film ?
	               			</td>
	               			<td style="text-align: right;" >
	               				<input style="width:5em; height:2.6em; text-align: center;" name="note" id="note" type="number" step="1" value="0" min="0" max="20">
	               			</td>
	               		</tr>
	               		<tr>
	               			<td colspan="2" style="text-align:center">
	               				<input type="submit" name="validComment" id="validComment" value="Envoyer">
	               			</td>
	               		</tr>
               		</table>
               		
               		<input type="hidden" name="idfilm" id="idfilm" value="$film.getId()"/>

        </article>
        
        
        
        
     </div>
     <div id="errorMessage">
     </div>  
 
#set ($js = $context.getProperties().get("context")+"/res/js/Module/Comment.js")
$context.addJSDependancy($js)  

