#set ($films = $context.getAttribute("films"))


	<div id="Content">   

        <h1>Films</h1>

		#foreach($film in $films)
				
		#set($parti = "")
				
		#foreach($participant in $film.getParticipants())
			#set($parti = $!parti + $!participant.getIdentifiant() + ", ")
		#end
		
		#set($lastComma = $parti.lastIndexOf(","))
		
		<article>
            
            <a href="/esgiRouter/MovieDetail/$film.getId()">
            <div class="Film">

                <section class="Film-Pic" style="background:url(/esgiRouter/res/style/img/Films/fond_#evaluate($film.getId()).jpg);  background-size: 100%; background-position: 0% 25%; background-repeat:no-repeat;">

                </section>
                <section class="Box-Doc-Descr">
                    
               
                <section class="Film-Doc">
                    <table id="TabFilm-Doc">
                        <tr>
                            <td style="padding-left: 20px; font-size: 1.5em;">$film.getTitre()</td>
                                
                            <td style="text-align: right; padding-right: 20px;">$film.getEvaluations().size() commentaires</td>
                        </tr>
                    </table>
                </section>

                <section class="Film-Descr">

                    <table class="TableFilm">
                    <tr>
                      <td rowspan="5" class="TableFilm-Descr-Img" style="background:url(/esgiRouter/res/style/img/Films/affiche_#evaluate($film.getId()).jpg); background-size: 200px; background-position:center; background-repeat:no-repeat;">
                          </td>
                      </td>
                      <td class="TableFilm-Descr-Label">Réalisateur</td> 
                      <td class="TableFilm-Descr-Label2">:</td>      
                      <td class="TableFilm-Descr-value">$film.getRealisateur().getIdentity()</td>
                      </tr>
                    <tr>
                      
                      <td class="TableFilm-Descr-Label">Participants </td>       
                      <td class="TableFilm-Descr-Label2">:</td>       
                      <td class="TableFilm-Descr-value">$parti.substring(0,$lastComma)</td>
                    </tr>
                    <tr>
                      <td class="TableFilm-Descr-Label">Description</td>
                      <td class="TableFilm-Descr-Label2">:</td>             
                      <td class="TableFilm-Descr-value">$film.getDescription()</td>
                    </tr>
                    </table>
                    
                </section>

                </section>
            </div>
            </a>

        </article>
		#end
        
        
        
        
     </div>  
 
     

