#set ($film = $context.getAttribute("film"))


	<div id="Content">   

        <h1>$film.getTitre()</h1>
				
		#set($parti = "")
				
		#foreach($participant in $film.getParticipants())
			#set($parti = $!parti + $!participant.getIdentifiant() + ", ")
		#end
		
		#set($lastComma = $parti.lastIndexOf(","))
		
		<article>
            

                <section class="Film-Pic" style="background:url(/esgiRouter/res/style/img/Films/fond_#evaluate($film.getId()).jpg);  background-size: 100%; background-position: 0% 25%; background-repeat:no-repeat;">

                </section>

                    
               
                <section class="Film-Doc">
                    <table id="TabFilm-Doc">
                        <tr>                               
                            <td style="text-align: center; padding-right: 20px; background-color: #FF9500;padding: 9px; color: white; text-decoration: none;"><div id="clickSeance" style="cursor:pointer;"><b>Voir les séances</b></div></td>
                        </tr>
                    </table>
                </section>
				
		        <div id="seanceDiv" style="display:none">
                	<table style="margin: auto">
                		<tr> 
                		<td style="color:#FF9500">Aujourd'hui : </td>
                			#set ($today = $film.getSeancesToday())
                			#if($today.size()>0) 
	                			#foreach($seance in $today)
	                				<td><b>$seance.getHeure() ($seance.getVersion()) | </b></td>
	                			#end
	                		#else
	                			<td><b>Aucune séance</b></td>
                			#end
                		</tr>
                		<tr> <td style="color:#FF9500">Demain : </td>
                			#set ($tomorrow = $film.getSeancesTomorrow())
                			#if($tomorrow.size()>0) 
	                			#foreach($seance in $tomorrow)
	                				<td><b>$seance.getHeure() ($seance.getVersion()) | </b></td>
	                			#end
	                		#else
	                			<td><b>Aucune séance</b></td>
                			#end
                		</tr>
                	</table>
                </div>
                    <table class="TableFilm detailFilmContent">
                    <tr>
                      <td rowspan="5" class="TableFilm-Descr-Img" style="background:url(/esgiRouter/res/style/img/Films/affiche_#evaluate($film.getId()).jpg); background-size: 200px; background-position:center; background-repeat:no-repeat;">
                          </td>
                      </td>
                      <td class="TableFilm-Descr-Label">Réalisateur</td> 
                      <td class="TableFilm-Descr-Label2">:</td>      
                      <td class="TableFilm-Descr-value">$film.getRealisateur().getIdentity()</td>
                      </tr>
                    <tr>
                      
                      <td class="TableFilm-Descr-Label">Participants </td>       
                      <td class="TableFilm-Descr-Label2">:</td>       
                      <td class="TableFilm-Descr-value">$parti.substring(0,$lastComma)</td>
                    </tr>
                    <tr>
                      <td class="TableFilm-Descr-Label">Description</td>
                      <td class="TableFilm-Descr-Label2">:</td>             
                      <td class="TableFilm-Descr-value">$film.getDescription()</td>
                    </tr>
                    <tr>
                    <td></td>
                    <td></td>
                    	<td style="text-align: right;"><a href="/esgiRouter/Comment/$film.getId()" style="background-color: #FF9500;padding: 9px; color: white; text-decoration: none;">$film.getEvaluations().size() Commentaires<a></td>
                    </tr>
                    </table>

        </article>
        
        
        
        
     </div>  
 
#set ($js = $context.getProperties().get("context")+"/res/js/Module/MovieDetail.js")
$context.addJSDependancy($js)    

